<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.BusDoctorMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.BusDoctor" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="professional_title" property="professionalTitle" jdbcType="VARCHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="hospital_id" property="hospitalId" jdbcType="BIGINT" />
    <result column="good_at" property="goodAt" jdbcType="VARCHAR" />
    <result column="inquiries" property="inquiries" jdbcType="INTEGER" />
    <result column="consulting_fees" property="consultingFees" jdbcType="INTEGER" />
    <result column="clinc_name" property="clincName" jdbcType="VARCHAR" />
    <result column="clinc_id" property="clincId" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_by" property="editBy" jdbcType="BIGINT" />
    <result column="edit_name" property="editName" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
  </resultMap>

  <select id="selectFavDoctor" resultMap="BaseResultMap">

      SELECT
            d.*
        FROM
            bus_relation_user_doctor ud
            LEFT JOIN bus_doctor d ON ud.doctor_id = d.id
        WHERE
            1 = 1
            AND ud.is_del = '0'
            AND ud.user_id = #{userId};

  </select>

</mapper>
