<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.BusFileMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.BusFile" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="bus" property="bus" jdbcType="VARCHAR" />
    <result column="bus_id" property="busId" jdbcType="BIGINT" />
    <result column="file_type" property="fileType" jdbcType="CHAR" />
  </resultMap>

  <select id="selectBusExist" resultType="java.lang.Integer">
    SELECT
        count(*)
    from
        information_schema.TABLES
    where
        table_schema=#{databaseName} and table_name=#{tableName}
  </select>


  <select id="selectBusByIdExist" resultType="java.lang.Integer">
    SELECT
        count(*)
    from
        ${tableName}
    where
        <if test="null!=busLongId">
            ${idField}=#{busLongId}
        </if>
  </select>


</mapper>
