<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.BusGoodsSpecificationMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.BusGoodsSpecification" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="specification_name" property="specificationName" jdbcType="VARCHAR" />
    <result column="sort_by" property="sortBy" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="market_price" property="marketPrice" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_by" property="editBy" jdbcType="BIGINT" />
    <result column="edit_name" property="editName" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
  </resultMap>


    <select id="selectByGoods" resultMap="BaseResultMap">
        SELECT
            g.name as is_del,
            s.*
        FROM
            bus_goods_specification s
            LEFT JOIN bus_goods g ON s.goods_id = g.id
        WHERE
            g.is_del = '0'
            AND s.is_del = '0'
        <if test="null!=goodsId">
            AND g.id = #{goodsId}
        </if>
        <if test="null!=goodsName and ''!=goodsName">
            AND g.name LIKE CONCAT(#{goodsName},'%')
        </if>
    </select>
</mapper>
