<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.BusHospitalMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.BusHospital" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="grade_id" property="gradeId" jdbcType="BIGINT" />
    <result column="grade_name" property="gradeName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="BIGINT" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="lat" property="lat" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="inquiries" property="inquiries" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_by" property="editBy" jdbcType="BIGINT" />
    <result column="edit_name" property="editName" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
    <result column="features" property="features" jdbcType="LONGVARCHAR" />
    <result column="diagnostic_methods" property="diagnosticMethods" jdbcType="LONGVARCHAR" />
  </resultMap>


  <select id="selectHospitalByDistance" resultMap="BaseResultMap">
    SELECT
        *,
        (
            st_distance (
                point ( lng, lat ),
                point ( #{lng}, #{lat} )
            ) * 111195 / 1000
        ) AS isDel
    FROM
    bus_hospital WHERE is_del = '0'
    <if test="name!=null">
      AND name like CONCAT(#{name},'%')
    </if>

    ORDER BY
	isDel ASC
  </select>

</mapper>
