<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctor.visit.repository.DatabasechangeloglockMapper">
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.Databasechangeloglock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="LOCKED" jdbcType="BIT" property="locked" />
    <result column="LOCKGRANTED" jdbcType="TIMESTAMP" property="lockgranted" />
    <result column="LOCKEDBY" jdbcType="VARCHAR" property="lockedby" />
  </resultMap>

</mapper>
