<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.JhiUserAuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.JhiUserAuthority" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <id column="authority_name" property="authorityName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>