<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.visit.repository.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.visit.domain.SysMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
    <result column="pid_name" property="pidName" jdbcType="VARCHAR" />
    <result column="sort_by" property="sortBy" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_by" property="editBy" jdbcType="BIGINT" />
    <result column="edit_name" property="editName" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="CHAR" />
  </resultMap>


    <select id="selectMenuByRoleId" resultMap="BaseResultMap">
        SELECT
        (
            SELECT
                GROUP_CONCAT( b.NAME )
            FROM
                sys_relation_menu_button rmb
                LEFT JOIN sys_button b ON rmb.button_id = b.id
            WHERE
                rmb.menu_id = m.id
            ) AS is_del,
            m.*
        FROM
            sys_permission p
            LEFT JOIN sys_menu m ON p.menu_id = m.id
        WHERE
            role_id =#{roleId} AND m.id is not null AND m.is_del = '0'
    </select>


    <select id="selectMenu" parameterType="com.doctor.visit.domain.SysMenu" resultMap="BaseResultMap">
        SELECT
            (
            SELECT
                GROUP_CONCAT( b.NAME )
            FROM
                sys_relation_menu_button rmb
                LEFT JOIN sys_button b ON rmb.button_id = b.id
            WHERE
                rmb.menu_id = m.id
            ) AS is_del,
            m.*
        FROM
            sys_menu m
        WHERE 1=1
        <if test="null!=isDel">
            AND m.is_del = #{isDel}
        </if>

    </select>

</mapper>
